<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.paradoxie.autoupdatedemo">
    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许写入外部存储，此为危险权限，此处声明之后还需要在代码里动态申请一次 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BuglyUpdateActivity"/>
        <!--腾讯bugly自动更新-->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:theme="@android:style/Theme.Translucent"/>
    </application>

</manifest>